@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#conteudo {
    width: 100%;
    float: right;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Slideshow container */
.slideshow-container {
    max-width: 75%;
    position: relative;
    margin: auto;
    overflow: hidden; /* Limita o conteúdo dentro do contêiner */
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }



.active, .dot:hover {
    background-color: #717171;
  }

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    background-color: rgba(7, 7, 7, 0.5); /* Fundo semi-transparente para não cobrir totalmente a imagem */
    backdrop-filter: blur(32px);
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
    user-select: none;
    transform: translateY(-50%); /* Centraliza verticalmente */
    z-index: 1; /* Garante que os botões fiquem acima das imagens */
}

/* Botão "Prev" alinhado à esquerda */
.prev {
    left: 10px; /* Posiciona o botão dentro da borda esquerda da imagem */
    border-radius: 8px;
}

/* Botão "Next" alinhado à direita */
.next {
    right: 10px; /* Posiciona o botão dentro da borda direita da imagem */
    border-radius: 8px;
}

/* Efeito ao passar o mouse */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo mais escuro ao passar o mouse */
}

/* Fading animation for slides */
.mySlides.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}


figure {
    display: inline-block;
    border: 0px dotted gray;
    margin: 20px;
    /* adjust as needed */
}

figure img {
    vertical-align: top;
}

figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}

aside p {
    text-align: center;
}

h1 {
    text-align: center;
}